<!--<app-header></app-header>

<div class="container">
    
  <div class="row">
    <div class="col">
        <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
-->

<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
               (blueprintCreated)="onBlueprintCreated($event)" ></app-cockpit>
  <hr>
  <div class="row">
   <div class="col-xs-12" >
    <app-server-element *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
    
    ></app-server-element>
   </div> 
  </div>
  
  
</div>
