<div class="container">

<h3>Server worked</h3>
<h2>add a files to git</h2>
<label for="serverName">serverName</label>

<!--<input type="text"
        (input) = "updatServername($event)"

> 
<h1>Practices</h1>
<input type="text" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-primary"  [disabled]= "username === '' " (click)= "username = '' ">reset</button> -->


<input type="text"
    [(ngModel)]="servername"    

>




<p>{{Updateservername}}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="createserverStatus()">Add a button</button>
<p [innerText]="allowNewServer"></p>
<p *ngIf="serverCreated">server was created , server name is {{servername}}</p>
<!--<p>{{serverStatus}}</p> -->
<p></p>
<app-server></app-server>
</div>

